ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header {
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.zerodha-logo {
    height: 20px;
    cursor: pointer;
    width: 8.3rem;
    margin-left: 12rem;
}

.list {
    display: flex;
    gap: 40px;
}

.list ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.list li {
    font-size: 15px;
    font-weight: 500;
    color: #828282;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu {
    height: 25px;
    cursor: pointer;
    margin-right: 13.5rem;
}

.list li:hover {
    color: #70a8f2;
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .list li {
        display: none;
    }

    .zerodha-logo {
        margin-left: 15px;
    }

    .menu {
        margin-right: 15px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 15px 5%; /* Reduce padding for medium screens */
    }

    .zerodha-logo {
        margin-left: 0;
    }

    .menu {
        display: block; /* Show menu icon */
    }
}