<div class="footer">
    <div class="s-1">
        <img src="https://zerodha.com/static/images/logo.svg" alt="Logo">
        <div class="icons">
        <p>&copy; 2010 - 2024, Zerodha Broking Ltd.</p> <p>All rights reserved.</p>
            <img src="x.png" alt="X-icon">
            <img src="facebook.png" alt="facebook-icon">
            <img src="instagram.png" alt="insta-icon">
            <img src="linkedin.png" alt="linkedin_icon">
            <hr>
            <img src="youtube.png" alt="yt-icon">
            <img src="whatsapp.png" alt="wp-icon">
            <img src="telegram.png" alt="Tele-icon">
        </div>

    </div>
    <div class="s-2">
        <h3>Company</h3>
        <p>About</p>
        <p>Products</p>
        <p>Pricing</p>
        <p>Referral programme</p>
        <p>Careers</p>
        <p>Zerodha.tech</p>
        <p>Press & media</p>
        <p>Zerodha Cares (CSR)</p>

    </div>
    <div class="s-2">
        <h3>Support</h3>
        <p>Contact us</p>
        <p>Z-Connect blog</p>
        <p>List of charges</p>
        <p>Downloads & resources</p>
        <p>Videos</p>
        <p>Market overview</p>
        <p>How to file a complaint?</p>
        <p>Status of your complaints</p>
    </div>
    <div class="s-2">
        <h3>Account</h3>
        <p>Open an Account</p>
        <p>Fund transfer</p>
    </div>
</div>