<main>
    <div class="Sec-1">
        <img src="https://zerodha.com/static/images/landing.png">
        <h1>Invest in Everything</h1>
        <p>Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.</p>
        <button type="submit">Sign up for free</button>
    </div>

    <div class="Sec-2">
        <div class="text">
            <h2>Trust with confidence</h2>
            <div class="para1">
                <h3>Customer-first always</h3>
                <p>That's why 1.5+ crore customers trust Zerodha with ₹4.5+ lakh crores of equity investments and
                    contribute to 15% of daily retail exchange volumes in India.</p>
            </div>

            <div class="para2">
                <h3>No spam or gimmicks</h3>
                <p>No gimmicks, spam, "gamification", or annoying push notifications. High quality apps that you use at
                    your pace, the way you like.</p>
            </div>

            <div class="para3">
                <h3>The Zerodha universe</h3>
                <p>Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored
                    services specific to your needs.</p>
            </div>

            <div class="para4">
                <h3>Do better with money</h3>
                <p>With initiatives like <span>Nudge</span> and <span>Kill Switch</span>, we don't just facilitate
                    transactions, but actively help
                    you do better with your money.</p>
            </div>
        </div>

        <div class="img">
            <img src="https://zerodha.com/static/images/ecosystem.png">
            <p>Explore our products ></p>
            <p>Try Kite demo ></p>
        </div>
    </div>
    <img class="image" src="https://zerodha.com/static/images/press-logos.png"><br>

    <div class="Sec-3">
        <div class="first">
            <h2>Unbeatable pricing</h2>
            <p>We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden
                charges.
            </p>
            <div class="pricing">
                <p>See Pricing ></p>
            </div>
        </div>
        <div class="second">
            <div class="part">
                <img src="https://zerodha.com/static/images/pricing-eq.svg">
                <p>Free account Opening</p>
            </div>
            <div class="part">
                <img src="https://zerodha.com/static/images/pricing-eq.svg">
                <p>Free equity delivery and direct mutual funds</p>
            </div>
            <div class="part">
                <img src="https://zerodha.com/static/images/other-trades.svg">
                <p>Intraday and F&O</p>
            </div>
        </div>
    </div>

    <div class="Sec-4">
        <div class="pic">
            <img src="https://zerodha.com/static/images/index-education.svg">
        </div>
        <div class="text">
            <h2>Free and open market education</h2>
            <p>Varsity, the largest online stock market education book in the world covering everything from the basics to advanced trading.</p>
            <span>Varsity ></span>

            <p>TradingQ&A, the most active trading and investment community in India for all your market related queries.</p>
            <span>TradingQ&A ></span>
        </div>
    </div>

    <div class="Sec-5">
        <h1>Open a Zerodha account</h1>
        <p>Modern platforms and apps, ₹0 investments, and flat ₹20 intraday and F&O trades.
        </p>
        <button type="submit">Sign up for Free</button>
    </div>
</main>